:root {
    --main-col-gradient: linear-gradient(to right, #f12711, #f5af19);
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
h2 {
    padding-bottom: 1.3em;
}

/*--NAV--*/
#nav-bar{
 position: sticky;
 top: 0;
 z-index: 10;
}
.navbar{
    background: var(--main-col-gradient); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 1.3rem;
    
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars {
    color: #fff;
}
.navbar-toggler {
    outline: none !important;
}
.logo {
    max-width: 4rem;
    height: auto;
    
}
.navbar-brand {
    max-width: 3%;
    height: auto;
}

/*--BANNER--*/

#banner {
    background-image: var(--main-col-gradient);
    color: #fff;
    padding-top: 5%;
    
}
.site-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

#banner-up {
    width: 100%;
}
.banner-art {
    max-width: 100%;
    height: auto;
}


/*--ABOUT ME--*/
#about-me {
    font-weight: 500;
    font-size: 1.2em;
}

#about-me  i {
    background: -webkit-linear-gradient(#f12711, #f5af19);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*--CONTACT--*/
#contact {
    background-image: var(--main-col-gradient);
    color: #fff;
    padding-bottom: 5%;
}

#contact p {
 font-weight: 500;
 font-size: 1.2em;
}

#contact p a {
    font-weight: 500;
    font-size: 1.2em;
   }
#contact a:link {
    color: #fff;
}
#contact a:visited {
    color: #fff;

}

#banner-down {
    width: 100%;
}
